.hidden {
    display: none;
}

#chat-page {
    width: 43vw;
    height: 50.7vh;
    position: fixed;
    bottom: 10px;
    right: 10px;
    flex-direction: column;
    z-index: 1000;
    border: 3px solid #A2CAD3;
    background-color: #A2CAD3;
}

#chatusername {
    color: #666666;
}

#header_talk {
    height: 5vh;
    color: white;
    background-color: #A2CAD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#chat-content {
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.users-list-container {
    height: 45vh;
    /*overflow-y: auto;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: space-between;
    border-right: 3px solid #A2CAD3;
}

.cart_container {
    width: 100px;
    height: 100px;
    margin-left: 3vw;
    margin-top: 2vw;

}

.cart_container svg {
    transform: translateY(1.3vw);

    /* z-index: 100; */
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    width: 11.5vw;
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-area {
    width: 31.5vw;
    height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#chat-header {
    height: 5vh;
    padding: 5px;
    background-color: #F9F3E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #A2CAD3;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    width: 30.5vw;
    height: 30vh;
    overflow-y: auto;
    max-height: 300px;
}

.message-content {
    display: inline-block;
    min-width: 3vw;
    min-height: 1vh;
    padding: 5px;
    font-size: 1em;
    /*display: inline-block;*/
}

.message.other {
    margin-top: 5px;
    margin-left: 15px;
    align-self: flex-start;
    background-color: #f1f0f0;
}

.message.self {
    margin-top: 5px;
    margin-right: 15px;
    align-self: flex-end;
    background-color: #a0e1eb;
}

.message picture {
    position: relative;
    max-width: 80%;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

.message {
    position: relative;
    max-width: 80%;
    margin: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    /*padding-bottom: 12px;*/
}

.timestamp {
    position: absolute;
    bottom: 5px;
    font-size: 0.7em;
    color: #666666;
    white-space: nowrap;
}

#chat-icon {
    /*display: block;*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
}

#chat-icon img {
    width: 50px;
    height: 50px;
}

#toggle-button {
    color: white;
    background-color: #A2CAD3;
    border: none;
}

#upload-button {
    width: 30px;
    height: 30px;
    left: 30px;
}


#messageForm {
    height: 10vh;
    width: 100%;
    position: relative;
    display: flex;
    border-top: 2px solid #A2CAD3;
    justify-content: space-between;
}

#message,
.message-input {
    height: 4vh;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
}

.message-input::placeholder {
    text-align: left;
    vertical-align: top;
}

.user-item {
    width: max-content;
    cursor: pointer;
    /*display: flex;*/
    padding: 5px;
}

.user-item.active {
    padding: 5px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    /*font-weight: bold;*/
}

.separator {
    height: 0.3vh;
    /*margin: 5px;*/
    background-color: #A2CAD3;
}

.message p {
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 15px;
    word-wrap: break-word;
}

.message img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 0 auto;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.sender {
    background-color: #a0e1eb;
    color: black;
    align-self: flex-end;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.user-form {
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
}

.user-form input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-form button {
    padding: 12px;
    border: none;
    background-color: #a0e1eb;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}


/* ////// */
#chat-footer {
    height: 1vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    padding-bottom: 35px;
    justify-content: space-between;
}

#send-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    border: none;
    background: none;
}

#upload-button {
    left: 35px;
    position: absolute;
    bottom: 5px;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
}

#sticker-button {
    position: absolute;
    bottom: 5px;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
}

#sticker-panel {
    position: absolute;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}

#sticker-panel span {
    flex: 0 0 10%;
    text-align: center;
    margin-bottom: 5px;
}

