#chat-container {
    width: 42vw;
    height: 50.5vh;
    position: fixed;
    bottom: 10px;
    right: 10px;
    flex-direction: column;
    /* 垂直布局 */
    z-index: 1000;
    border: 3px solid #A2CAD3;
    background-color: #A2CAD3;
}

#header_talk {
    height: 5vh;
    color: white;
    background-color: #A2CAD3;
    display: flex;
    justify-content: space-between;
    /* 元素分布：一个靠左，一个靠右 */
    align-items: center;
    padding: 10px;
    width: 100%;
    /* 宽度充满父容器 */
}

#chat-content {
    display: flex;
    flex-direction: row;
    /* 水平布局 */
    flex-grow: 1;
    /* 允许扩展以占据剩余空间 */
}

#contact-list {
    width: 12vw;
    height: 45vh;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 在这里居中内部元素 */
}

#chatbox {
    width: 30vw;
    height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.contact-item {
    width: 100%;
    /* 根据需要调整宽度 */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #A2CAD3;
    /* 为每个项添加顶部边框 */
    border-bottom: 1px solid #A2CAD3;
    /* 底部边框保持原样 */
}

.contact-item:first-child {
    border-top: none;
    /* 移除第一个项的顶部边框 */
}

.contact-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-weight: bold;
}

.contact-message {
    font-size: 0.8em;
    color: #666;
}

.contact-time {
    font-size: 0.7em;
    color: #999;
}

#chat-header {
    padding: 5px;
    background-color: #F9F3E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #A2CAD3;
}

#chat-history {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    overflow-y: auto;
    /* 允許滾動 */
    max-height: 300px;
    /* 可調整的最大高度 */
}

.message-content {
    display: inline-block;
    min-width: 3vw;
    min-height: 1vh;
    padding: 5px;
    font-size: 1em;
    display: inline-block;
}

.message.other {
    margin-top: 5px;
    margin-left: 15px;
    align-self: flex-start;
    /* 對方訊息靠左對齊 */
    background-color: #f1f0f0;
    /* 背景顏色 */
}

.message.self {
    margin-top: 5px;
    margin-right: 15px;
    align-self: flex-end;
    /* 自己的訊息靠右對齊 */
    background-color: #a0e1eb;
    /* 背景顏色 */
}

.message {
    position: relative;
    max-width: 80%;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    padding-bottom: 12px;
}

.timestamp {
    position: absolute;
    bottom: 5px;
    /* 固定在底部 */
    right: 0px;
    /* 固定在右側 */
    font-size: 0.7em;
    /* 適當的字體大小 */
    color: #666666;
    /* 字體顏色 */
    white-space: nowrap;
    /* 防止文字換行 */
}

#send-button {
    color: #A2CAD3;
    background: none;
    /* 移除按鈕背景 */
    border: none;
    /* 移除邊框 */
    cursor: pointer;
    /* 鼠標懸停時顯示指針形狀 */
}

#send-button img {
    width: 24px;
    /* 設置圖標大小，可根據需要調整 */
    height: auto;
}

#username {
    font-weight: bold;
}

#chat-icon {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    z-index: 1000;
}

#chat-icon img {
    width: 50px;
    /* 設置圖標的寬度為 50px */
    height: 50px;
    /* 設置圖標的高度為 50px */
}

#toggle-button {
    color: white;
    background-color: #A2CAD3;
    border: none;
}

#upload-button {
    width: 30px;
    height: 30px;
    left: 30px;
    /* 根據第一個按鈕的寬度和期望的間距調整 */
}


#chat-footer {
    height: 10vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end; /* 對齊至底部 */
    padding-top: 5px; /* 為 message-input 提供頂部空間 */
    padding-bottom: 35px;
    border-top: 2px solid #A2CAD3;
    justify-content: space-between;
}




#sticker-button, #upload-button {
    position: absolute;
    bottom: 5px; /* 距離底部的距離 */
    height: 30px;
    border: none;
    background: none;
}

#sticker-button {
    left: 5px; /* 距離左邊的距離 */
}

#upload-button {
    left: 35px; /* 距離左邊的距離 */
}

#send-button {
    position: absolute;
    right: 5px; /* 距離右邊的距離 */
    bottom: 5px; /* 距離底部的距離 */
    height: 30px;
    border: none;
    background: none;
}

#sticker-button img, #upload-button img, #send-button img {
    width: 20px;
    height: 20px;
}

#sticker-panel {
    position: absolute;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}

#sticker-panel span {
    flex: 0 0 10%; /* 每個貼圖佔據容器寬度的10% */
    text-align: center; /* 中心對齊貼圖 */
    margin-bottom: 5px; /* 貼圖之間的間距 */
}

#message-input {
    height: 6vh; /* 初始高度，可根據需要調整 */
    width: calc(100% - 50px); /* 考慮右邊按鈕的寬度 */
    border: none;
    outline: none;
    resize: none; /* 禁止手動調整大小 */
    overflow: auto; /* 超出時顯示滾動條 */
    padding: 5px; /* 提供內部間隙 */
    box-sizing: border-box; /* 確保寬度包括內邊距 */
    /* 可以添加更多樣式來美化外觀 */
}

#message-input::placeholder {
    text-align: left;
    vertical-align: top;
}
.message.self {
    align-self: flex-end;
    /* 其他樣式 */
}

.message.other {
    align-self: flex-start;
    /* 其他樣式 */
}

.message img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 0 auto; /* Center the image */
}
#username{
    color: gray;
    font: 1rem sans-serif;
}