.login-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.frame {
    display: flex;
    position: relative;
    width: 100vw;
    max-width: 1200px;
    height: 750px;
    margin: auto;
    top: -150px;
}

.overlap-group {
    display: flex;
    align-items: start;
    gap: 20px;
}

.component {
    height: 800px;
    width: 1000px;
    margin: 10px 0;
    padding-top: 40px;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    display: block;
    width: auto;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    background-color: #F9F3E7;
    border: none;
    border-radius: 5px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    text-align: center;
}

.content-area {
    flex: 2;
    position: absolute;
    top: 0;
    left: 320px;
    width: calc(100% - 320px);
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.gender{
    display: flex;
    align-items: center;
}
.gender-btn{
    margin-right: 0.5vw;
    margin-left: 1vw;
    background: #F9F3E7;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    padding: 20px;
}

.content-section-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 20px 20px 20px;
}

.content-section-couponst {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 20px 20px 20px;
}


.content-section div {
    display: flex;
    margin-bottom: 10px;
}

.content-section span {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    text-align: left;
}

.content-section input[type="file"],
.content-section input[type="date"],
.content-section input[type="email"],
.content-section textarea {
    flex-grow: 1;
    margin-left: 20px;
    background-color: #F9F3E7;
    border: none;
    border-radius: 5px;
}

.content-section button {
    margin: 5px 5px 5px 20px;
    background-color: #F9F3E7;
    border: none;
    border-radius: 5px;
}

#update{
    width: 3vw;
    align-self: center;
    background:  #F9F3E7;
    border: none;
}

.divider {
    height: 10px;
    background-color: #f9f3e7;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
}

.frame .view {
    position: absolute;
    width: 180px;
    height: 53px;
    top: 0;
    left: 540px;
}

.frame .image {
    position: absolute;
    width: 142px;
    height: 33px;
    top: 5px;
    left: 1px;
}

.frame .text {
    position: absolute;
    width: 1200px;
    height: 5px;
    top: 103px;
    left: 0;
    background-color: #f9f3e7;
}

.frame .overlap-group {
    position: absolute;
    width: 308px;
    height: 727px;
    top: 212px;
    left: 11px;
    background-color: #f9f3e7;
    border-radius: 30px;
}

.frame .text-wrapper {
    top: -1px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div {
    top: 89px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-2 {
    top: 269px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-3 {
    top: 179px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.list-content-component {
    height: 60px;
    width: 800px;
    margin: 0;
    padding-top: 40px;
    background-color: #F9F3E7;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    padding: 0px;
    border-radius: 15px 15px 0 0;
}


.btn {
    background-color: #007bff;
    color: white;
    border: none;
    margin: 10px 0 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.list-content-component-pro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    height: 180px;
}

.content-section div {
    display: flex;
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: flex-start;
}

.item-image {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.item-text {
    display: flex;
    flex-direction: column;
}

.bottom-text {
    align-self: flex-end;
    margin: 10px;
}

.yellow-line {
    height: 25px;
    background-color: #F9F3E7;
    width: 100%;
    border-radius: 30px;
}

.container-coupons {
    display: flex;
    height: auto;
    width: 800px;
    flex-direction: column;

}

.top-section {
    display: flex;
}

.top-section img {
    width: 70%;
    height: 15vw;
    padding: 0px 0px 30px 0px;
}

.bottom-section {
    width: 800px;
    height: 370px;
    border: 20px solid #F9F3E7;
    border-width: 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 0 0 15px 15px;
}


.coupon-block {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.coupon-block img {

    width: 150px;
    height: 150px;
    width: 50%;
}

.coupon-block p {
    width: 50%;
}

.selected {
    background-color: #F9F3E7;
    color: #A2CAD3;
}