.content-wrapper {
    min-height: calc(100vh - [Footer Height]);
    /* 設置最小高度為視窗高度減去 footer 的高度 */
    position: relative;
}

.login-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.frame {
    display: flex;
    position: relative;
    width: 100vw;
    max-width: 1200px;
    height: 750px;
    margin: auto;
    top: -150px;
}

.overlap-group {
    display: flex;
    align-items: start;
    gap: 20px;
}

.component {
    height: 800px;
    width: 1000px;
    margin: 10px 0;
    padding-top: 40px;
    /* 根據需要調整寬度 */
    flex: 4;
    /* 設定彈性佈局的放大比例 */
    display: flex;
    /* 使用彈性盒子模型 */
    flex-direction: column;
    /* 將按鈕垂直排列 */
    align-items: center;
    /* 按鈕水平置中 */
    gap: 10px;
    /* 按鈕之間添加間隙 */
}

.button {
    display: block;
    /* 設置為塊級元素 */
    width: auto;
    /* 從100%更改為自動 */
    max-width: 300px;
    /* 設置最大寬度 */
    padding: 10px;
    /* 設置內邊距 */
    margin: 10px 0;
    /* 設置外邊距 */
    background-color: #F9F3E7;
    /* 設置背景顏色 */
    border: none;
    /* 移除邊框 */
    border-radius: 5px;
    /* 設置邊框圓角 */
    font-family: "Inter-Regular", Helvetica;
    /* 設置字體 */
    font-size: 24px;
    /* 設置字體大小 */
    text-align: center;
    /* 文字置中 */
}

.content-area {
    flex: 2;
    position: absolute;
    top: 0;
    left: 320px;
    width: calc(100% - 320px);
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    /* 添加此行以便於內部的 .content-section 元素並排顯示 */
    flex-wrap: wrap;
    /* 允許內容換行 */
}

.content-section {
    display: flex;
    /* 使用 flexbox */
    flex-direction: column;
    /* 元素垂直排列 */
    justify-content: space-around;
    /* 內部元素平均分布 */
    height: 70%;
    /* 設定高度為100%，以充滿父容器 */
    padding: 20px;
    /* 適當的內邊距 */
}

.content-section-list {
    display: flex;
    /* 使用 flexbox */
    flex-direction: column;
    height: 100%;
    /* 設定高度為100%，以充滿父容器 */
    padding: 0px 20px 20px 20px;
    /* 適當的內邊距 */
}

.content-section-couponst {
    display: flex;
    /* 使用 flexbox */
    flex-direction: column;
    height: 100%;
    /* 設定高度為100%，以充滿父容器 */
    padding: 0px 20px 20px 20px;
    /* 適當的內邊距 */
}


.content-section div {
    display: flex;
    /* 使用彈性盒模型 */
    /* 垂直置中對齊 */
    margin-bottom: 10px;
    /* 底部間距 */
}

.content-section span {
    display: inline-block;
    width: 150px;
    /* 設定寬度 */
    margin-right: 20px;
    /* 右側間距 */
    text-align: left;
    /* 文字靠右對齊 */
}

.content-section input[type="file"],
.content-section input[type="date"],
.content-section input[type="email"],
.content-section textarea {
    flex-grow: 1;
    /* 彈性成長，佔據剩餘空間 */
    margin-left: 20px;
    /* 左側間距 */
    background-color: #F9F3E7;
    /* 設置背景顏色 */
    border: none;
    /* 移除邊框 */
    border-radius: 5px;
    /* 設置邊框圓角 */
}

.content-section button {
    margin: 5px 5px 5px 20px;
    background-color: #F9F3E7;
    /* 設置背景顏色 */
    border: none;
    /* 移除邊框 */
    border-radius: 5px;
    /* 設置邊框圓角 */
}

.divider {
    height: 10px;
    background-color: #f9f3e7;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
}

.frame .view {
    position: absolute;
    width: 180px;
    height: 53px;
    top: 0;
    left: 540px;
}

.frame .image {
    position: absolute;
    width: 142px;
    height: 33px;
    top: 5px;
    left: 1px;
}

.frame .text {
    position: absolute;
    width: 1200px;
    height: 5px;
    top: 103px;
    left: 0;
    background-color: #f9f3e7;
}

.frame .overlap-group {
    position: absolute;
    width: 308px;
    height: 727px;
    top: 212px;
    left: 11px;
    background-color: #f9f3e7;
    border-radius: 30px;
}



.frame .text-wrapper {
    top: -1px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div {
    top: 89px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-2 {
    top: 269px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-3 {
    top: 179px;
    position: absolute;
    width: 180px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.list-content-component {
    height: 60px;
    width: 800px;
    margin: 0;
    padding-top: 40px;
    background-color: #F9F3E7;
    display: inline-flex; /* 修改為 inline-flex 以便使用 flexbox 屬性 */
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    padding: 0px;
    border-radius: 15px 15px 0 0; /* 上方圓角，下方無圓角 */
}


.btn {
    background-color: #007bff;
    /* 藍色背景 */
    color: white;
    border: none;
    margin: 10px 0 10px 20px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.list-content-component-pro {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    /* 子元素靠左對齊 */
    width: 800px;
    /* 根據需要調整容器的寬度 */
    height: 180px;
    /* 根據需要調整容器的高度 */

}

.content-section div {
    display: flex;
    /* 使用彈性盒模型 */
    /* 垂直置中對齊 */
    margin-bottom: 10px;
    /* 底部間距 */
}

.item {
    display: flex;
    justify-content: flex-start;
    /* 水平方向靠左對齊 */
    /* 適當的間距 */
}

.item-image {
    width: 120px;
    /* 圖片寬度 */
    height: 120px;
    /* 圖片高度 */
    margin-right: 10px;
    /* 圖片與文字之間的間隔 */
}

.item-text {
    display: flex;
    flex-direction: column;
    /* 確保文字垂直排列 */
}

.bottom-text {
    align-self: flex-end;
    /* 文字靠右對齊 */
    margin: 10px;
    ;
    /* 將文字推向底部 */
}

.yellow-line {
    height: 25px;
    /* 黃線的高度 */
    background-color: #F9F3E7;
    /* 黃線的顏色 */
    width: 100%;
    /* 黃線的寬度與外層相同 */
    border-radius: 30px;
}

.container-coupons {
    display: flex;
    height:800px;
    width: 800px;
    flex-direction: column;

}
.top-section {
    display: flex;
}
.top-section img {
    width: 100%;
    /* 或其他指定寬度 */
    height: auto;
    /* 保持圖片比例 */
    padding: 0px 0px 30px 0px;
}

.bottom-section {
    width: 800px;
    height: 370px;
    border: 20px solid #F9F3E7; /* 黃色邊界 */
    border-width: 0 20px 20px; /* 上方無邊框，其他邊保持 20px */
    display: flex; /* 採用 Flexbox 佈局 */
    flex-wrap: wrap; /* 允許內容換行 */
    justify-content: space-around; /* 水平方向上區塊平均分佈 */
    align-content: space-around; /* 垂直方向上區塊平均分佈 */
    border-radius:  0 0 15px 15px; /* 下方圓角 */
}


.coupon-block {
    flex: 1 1 40%; /* 每個區塊佔據的空間和成長因子 */
    display: flex; /* 使用 Flexbox 顯示圖片和文字 */
    align-items: center; /* 垂直置中 */
    margin: 10px; /* 在區塊之間添加一些間隔 */
}

.coupon-block img {

    width: 150px;
    height: 150px;
    width: 50%; /* 圖片佔據區塊的一半寬度 */
}

.coupon-block p {
    width: 50%; /* 文字區域佔據區塊的一半寬度 */
}
.selected {
    background-color: #F9F3E7; /* 選中按鈕的背景顏色 */
    color: #A2CAD3; /* 選中按鈕的文字顏色 */
}
