/* 商品資訊區塊 */
.product {
    width: 100%;

    
}

.product .productImage .bigImage img,
.product .productImage .smallImage img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 等比例縮放，保持圖片完整顯示在容器內 */
}

.product .productImage .smallImage {
    height: 6vw;
    object-fit: contain;
}

.smallImage button {
    height: 3vw;
    font-weight: 500;
    font-size: 1vw;
    border: none;
    margin-top: 1.5vw;
    background-color: #F9F3E7;
}

.productDescribe{
    max-inline-size: 150vw;
}

.productDescribe .productName {
    color: #000;
    font-size: 2vw;
    font-weight: 400;
    line-height: normal;
}

.evaluate {
    list-style: none;
    padding: 0;
    margin-bottom: 2px;
    display: flex;
}

.evaluate li {
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.evaluate li a{
    color: black;
    text-decoration: none;
}


.specification {
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 2vw;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.specification .div {
    width: 6.7333vw;
    height: 3.5333vw;
    margin: 0 1vw 1vw 0;
    box-shadow: 1px 1px 1px rgb(119, 116, 116);
    border-radius: 12px;
    background-color: #F9F3E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.quantity {
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 2vw;
    display: flex;
}

.quantity p {
    margin-right: 1vw;
}

.quantity input {
    width: 3vw;
    border-width: 1px 0 1px 0;
    border-color: #000;
    border-style: solid;
}

.quantity button {
    width: 2vw;
    border: none;
    background-color: #E2C89C;
}

.price {
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 3vw;
    display: flex;
}

.price p {
    margin-right: 1vw;
}

.price span {
    width: 9.8667vw;
    /*box-shadow: 1px 1px 1px rgb(119, 116, 116);*/
    /*border-radius: 12px;*/
    /*background-color: #F9F3E7;*/
}

.buy {
    height: 3.3333vw;
    width: 9.8667vw;
    font-size: 1vw;
    box-shadow: 1px 1px 1px rgb(119, 116, 116);
    border-radius: 12px;
    border: none;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #F9F3E7;
}

.add {
    height: 3.3333vw;
    width: 9.8667vw;
    font-size: 1vw;
    box-shadow: 1px 1px 1px rgb(119, 116, 116);
    border: none;
    border-radius: 12px;
    background-color: #F9F3E7;
}

/* ------------------------------------------------ */
.seller {
    width: 100%;
    height: 12.1333vw;
    padding: 2vw 0 0 4vw;
    /* border: 1px solid red; */
    border-radius: 12px;
    margin-bottom: 2vw;
    background-color: #F9F3E7;
}

.profileImage {
    width: 100%;
    height: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 2vw;
    margin-left: 1.3vw;
}
.profileImage img{
    width: 100%;
    height: 7vw;
    border-radius: 50%;
}

.sellerName {
    font-size: 1.3vw;
    margin-top: 1vw;
}

.sellerName span {
    margin-top: 1.5vw;
    font-size: 1vw;
    color: gray;
}


.sellerDecribe {
    font-size: 1vw;
    font-weight: bold;
    padding-top: 2vw;
}

.collect{
    margin-top: 1vw;
}
.collect a {
    font-size: 1vw;
    text-decoration: none;
    color: grey;
    margin-right: 1vw;
}

/* ------------------------------------------------ */
.productDescribe2 {
    width: 100%;
    border-radius: 12px;
    background-color: #F9F3E7;
    margin-bottom: 3vw;
}

.productDescribe2 p {
    font-size: 2vw;
    font-weight: 1000;
    margin-bottom: 0;
}

.productDescribe2 .div {
    width: 100%;
    height: 13.3333vw;
    border-radius: 12px;
    background-color: white;
}

/* ------------------------------------------------ */
.comment {
    height: 50vw;
    width: 83vw;
}

.comment p {
    font-size: 2vw;
    font-weight: 1000;
}

.bar {
    width: 63vw;
    height: 2vw;
}

.bar div {
    font-size: 1vw;
    text-align: start;
    margin-right: 5px;
    margin-bottom: 0.1vw;
    border-radius: 5%;
    box-shadow: #000;
    box-shadow: 1px 1px 1px rgb(119, 116, 116);
    background-color: #F9F3E7;
}

.bar div:hover {
    background-color: #A2CAD3;
}

.userComment {
    width: 100%;
    height: 18vw;
}

.user {
    width: 100%;
    height: 3vw;
    line-height: 3vw;
    background-color: #F9F3E7;
}

.userIcon {
    width: 2vw;
    border-radius: 50%;
    background-color: white;
}

.userName {
    font-size: 1vw;
    margin-left: 1.9vw;
    color: rgb(119, 116, 116);
}

.commentContainer {
    margin-left: 12vw;
    font-size: 1vw;
    color: rgb(119, 116, 116);
}

.productComment {
    width: 83vw;
    height: 14vw;
    margin-bottom: 1vw;
}

.productComment .div {
    border-width: 0px 1px 0px 0px;
    border-color: #F9F3E7;
    border-style: solid;
}

.productCommentImage {
    height: 14vw;
}

.replyBtn {
    height: 2.5vw;
    font-size: 0.7vw;
    font-weight: 500;
    border-radius: 10%;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}
.commentPage{
    margin-top: 2vw;
}
.commentPage button{
    font-size: 1vw;
    border: none;
    color: #767676;
    background-color: white;
}
/* ------------------------------------------------ */
.similar {
    width: 100%;
}

.similar .title {
    height: 5vw;
    line-height: 5vw;
    font-size: 2vw;
    font-weight: 1000;
    padding-left: 2vw;
    background-color: #F9F3E7;
}

.similar .similarProduct {
    margin-bottom: 3vw;
}

.similar .similarProduct div {
    height: 22vw;
    border: 1px solid black;
    margin-top: 1vw;
}
.similarPage button{
    font-size: 1.5vw;
    border: none;
    margin-bottom: 1vw;
    color: black;
    background-color: white;

}