.storeContainer {
    width: 100%;
    height: 80vw;
    margin-top: 1vw;
    border-radius: 20px;
    border: 6px #F9F3E7 solid;
}

.storeTitle {
    font-size: 2vw;
    text-align: center;
    margin: 5vw 0 3vw 0;
}

.logoLabel {
    height: 12vw;
    display: flex;
    align-items: center;
}

.logoTitle {
    display: flex;
    align-items: center;
    margin-right: 8vw;
}

.uploadContainer {
    width: 10vw;
    height: 10vw;
    border: 1px dashed #aaaaaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.storeDesign {
    width: 30vw;
    height: 15vw;
    margin: 0.5vw;
    border: 1px dashed #aaaaaa;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.selectedImage {
    display: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageStyle {
    display: none;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fileStyle {
    display: none;
}
.storeName{
    display: flex;
    height: 5vw; 
    margin-top: 3vw; 
}
.storeManageBtn {
    width: 10vw;
    height: 3vw;
    margin-left: 13vw;
    border-radius: 10px;
    border: 1px #000000 solid;
    background-color: #ffffff;
}

.productDiscountsContainer {
    width: 100%;
    height: 75vw;
    margin-top: 3vw;
    border-radius: 20px;
    border: 6px #F9F3E7 solid;
}

.productManageTitile {
    font-size: 2vw;
    margin: 3vw 4vw;
    display: flex;
    align-items: center;
}

.productSearchBar {
    padding: 0;
    margin-left: auto;
    height: 3.4vw;
    width: 30vw;
    display: flex;
}

.productSearchInput {
    padding: 10px;
    height: 100%;
    font-size: 1.1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.productSearchIcon {
    position: absolute;
    transform: translateY(10%);
    margin-left: 27vw;
    cursor: pointer;
    color: #797979;
    font-size: 2vw;
}
.productDiscounts{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.productDiscountsBar{
    width:72vw; 
    height: 5vw; 
    margin:1vw 2vw; 
    font-size: 1.2vw;
    border-radius: 5px; 
    background-color: #A2CAD3;
}
.productDiscountsBar >p{
    display: flex; 
    padding: 2vw;
}
.discountsProductsSelect{
    width:70vw; 
    height: 8vw; 
    margin:1vw 2vw; 
    border-bottom:1px solid #A2CAD3;  
}
.discountsProduct{
    border: 2px solid #000000; 
    width: 6vw;
    height: 6vw; 
}
.cproductName{
    padding-left: 3vw; 
    font-size: 1vw;
}
.cproductStock{
    padding-left: 7vw; 
    font-size: 1vw;
}
.commentPage {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 5vw;
 }

 .commentPage button {
    font-size: 1vw;
    border: none;
    color: #767676;
    background-color: white;
 }