.form-container {

    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-color: #F9F3E7; 
    border-width: 6px;
    border-style: solid;  
    background-color: #ffffff;
    border-radius: 10px;
}

.form-header {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.custom-file-upload {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: dashed 1px #D0D0D0; 
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;  
}

.custom-file-upload:hover{
    background-color: #A2CAD3;
    opacity:0.7;
}

.custom-file-upload.no-hover:hover {
    background-color: initial;
    opacity: 1;
}


.label-upload-container {
    display: flex;
    align-items: center; 
    
}

.label-upload-container label {
    margin-bottom: 50px;
}
.form-group {
    display: block;
    align-items: center;
}

label {
    font-weight: bold;
    display: flex ;
    margin-left: 30px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}

input[type='text'],
input[type='file'] {
    
    padding: 10px;
    border: solid 1px #D0D0D0;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

input[type='text'].dashed {
    border-style: dashed;
}

input[type='file'] {
    display: none;
}


.button-container {
    top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



#dropdownMenuButton1{
    margin-left: 20px;
    opacity: 0.5;
}

.specification-container{
    background-color: #F9F3E7;
    border-radius: 10px;    
    flex-direction: column;  
    margin-left: 9.2vw;
    width: 60vw;
    min-height:20vw; 
    padding: 2vw;
}
/* -----------------------分類-------------------------------- */

.main-category:hover{
    background-color: #dddcdc;
    margin: 2px;
}

.modal-body a:hover{
    border-radius: 2px;
    background-color: #dddcdc;
    margin: 1.2px;
}

::placeholder {
    opacity: 0.7;
}

.down{
    justify-content: space-around;
    display: inline-flex;
}